body{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin: 0;
}
#header{
    position: fixed;
    background: rgb(236, 249, 254);
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-img{
    max-width: 10rem;
    width: 100%;
    height: auto;
    padding-top: 0.8rem;
}
#nav-bar{
    width: 30rem;
}
#ul-nav{
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#ul-nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#sec-0{
    padding-top: 3rem;
}

h1{
    margin-bottom: 0.5rem;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#email{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    width: 20rem;
    height: 1.5rem;
    max-width: 90%;
}
#submit{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    width: 10rem;
    height: 2rem;
    max-width: 60%;
    border: 0;
    border-radius: 0.3rem;
    background-color: #f1c40f;
}
#submit:hover{
    background-color: #f19e0f;
}
#sec-1{
    padding: 3rem 0;
    margin: 1rem auto;
    max-width: 900px;
    background: rgb(243, 249, 250);
}
@media(max-width:1000px){
    #sec-1{
        margin: 1rem 3rem;
    }
}
@media(max-width:400px){
    #header{
        flex-wrap: wrap;
    }
    #sec-0{
        padding-top: 6rem;
    }
    #sec-1{
        margin: 1rem 2rem;
    }
}
@media(max-width:300px){
    #ul-nav{
        flex-direction: column;
    }
    #sec-0{
        padding-top: 8rem;
    }
    #sec-1{
        margin: 1rem 0;
    }
}
#fast,
#hard,
#primium{
    display: flex;
}
#div-fast,
#div-hard,
#div-primium{
    width: 100%;
    padding: 0 1rem;
}
#div-fast h2,
#div-hard h2,
#div-primium h2{
    text-align: left;
    margin-bottom: 0.4rem;
}

svg{
    display: flex;
    align-items: center;
    height: 50px;
    width: 3rem;
    color: rgb(32, 67, 239);
    vertical-align: middle;
}
@media(max-width:350px){
    #fast svg,
    #hard svg,
    #primium svg{
        display: none;
    }
}
p{
    text-align: justify;
}
#sec-2{
    padding-top: 2rem;
}
#sec-2 iframe{
    max-width: 90%;
    width: 560px;
    height: 315px;
}
ol{
    padding: 0;
}
li{
    list-style: none;
}
#sec-3{
    display: flex;
    justify-content: space-around;
    padding: 3rem 2rem;
}
#sec-3 div{
    border: 1px solid;
    border-color: rgb(33, 66, 228);
    width: 15rem;
    max-width: 100%;
    padding-bottom: 1rem;
}
@media(max-width: 811px){
    #sec-3{
        flex-direction: column;
        align-items: center;
    }
    #sec-3 div{
        margin-bottom: 0.5rem;
    }
}
@media(max-width: 250px){
    #sec-3{
        padding: 0 0.5rem;
    }
    #sec-3 div{
        width: 100%;
    }
}
h3{
    background: rgb(33, 66, 228);
    margin: 0;
    height: auto;
    padding: 0.7rem 0;
}
button{
    font-size: 0.95rem;
    width: 10rem;
    max-width: 90%;
    padding: 0.3rem 0;
    background-color: #f1c40f;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
}
button:hover{
    background-color: #f19e0f;
}
#footer{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: rgb(2, 6, 36)
    
}
#ul-footer{
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
}
@media(max-width: 240px){
    #ul-footer{
        flex-direction: column;
    }
    #ul-footer a{
        margin-bottom: 1rem;
    }
}
ul a{
    color: white;
    text-decoration: none;
    
}
