@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html{
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/197/246/non_2x/glowing-neon-line-clipboard-with-checklist-icon-isolated-on-brick-wall-background-control-list-symbol-survey-poll-or-questionnaire-feedback-form-illustration-isolated-on-brick-wall-vector.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body {
    word-wrap: break-word;
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;

    text-align: center;
    color: white;
}
#title {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}
#description {
    text-align: center;
    font-weight: bold;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}
#survey-form {
    word-wrap: break-word;
    width: 50%;
    margin: auto;
    border-radius: 0.4rem;
    background: rgba(13, 6, 108, 0.8);
    display: flex;
    flex-direction: column;
    padding: 1rem 2.5rem;
    padding-bottom: 0;
}
.divs {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 1.5rem;
}
#div1,
#div2,
#div3 {
    display: block;
}
#name,
#email,
#number,
#dropdown,
#phone,
#address,
#postcode,
#country,
#add-co {
    font-size: 1.2rem;
    border: 0;
    border-radius: 0.4rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0.4rem 0.2rem;
    margin-top: 0.4rem;
}
#submit {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0.4rem;
    border: 0;
    color: rgb(255, 255, 255);
    background: rgba(11, 224, 8, 0.4);
    cursor: pointer;
    padding: 0.8rem 0 0.8rem 0;
}
#submit:hover {
    background: rgba(11, 224, 8, 0.6);
}
@media (max-width: 850px) {
    #survey-form {
        width: 80%;
    }
}
@media (max-width: 540px) {
    body {
        font-size: 1rem;
    }
    #survey-form {
        width: 98%;
        padding: 1rem 0.2rem;
    }
    #name,
    #email,
    #number,
    #dropdown,
    #add-co {
        font-size: 1rem;
    }
    .divs{
        width: 100%;
    }
}